:root {
  --theme--color: rgb(226,8,8);
  --el-color-primary: var(--theme--color);
  --el-color-primary-light-3: #e83f3f;
  --el-color-primary-light-5: #ef7676;
  --el-color-primary-light-7: #f29191;
  --el-color-primary-light-8: #f5adad;
  --el-color-primary-light-9: #f9c8c8;
  --el-color-primary-dark-2: #950000;
}

#aside-menu {
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

#aside-menu:not(.el-menu--collapse) {
  width: 12vw;
}

.el-header {
  box-shadow: 0 0 2rem 0 rgba(41, 48, 66, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collapse {
  margin-right: 30px;
}

.collapse:hover {
  color: var(--theme--color);
  cursor: pointer;
}

.el-main {
  transition: all 0.4s;
  height: 90vh;
  width: 100%;
  padding: 10px !important;
  overflow-x: hidden !important;
}

.el-divider__text {
  background-color: rgb(247, 246, 242) !important;
}

.el-alert__title {
  font-size: 20px !important;
}

.el-dialog {
  --el-dialog-border-radius: 10px !important;
}

.el-form-item__content {
  justify-content: center;
}


