html,
body,
#app {
    padding: 0;
    margin: 0;
}

.load-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo-image {
    width: 400px;
    height: 400px;
}

.load_title {
    color: rgb(226, 8, 8);
    font-size: 36px;
    width: 100%;
    text-align: center;
}